.m0 { margin: 0!important; } .mt0 { margin-top: 0!important; } .mb0 { margin-bottom: 0!important; } .ml0 { margin-left: 0!important; } .mr0 { margin-right: 0!important; }
.m10 { margin: 10px!important; } .mt10 { margin-top: 10px!important; } .mb10 { margin-bottom: 10px!important; } .ml10 { margin-left: 10px!important; } .mr10 { margin-right: 10px!important; }
.m20 { margin: 20px!important; } .mt20 { margin-top: 20px!important; } .mb20 { margin-bottom: 20px!important; } .ml20 { margin-left: 20px!important; } .mr20 { margin-right: 20px!important; }
.m30 { margin: 30px!important; } .mt30 { margin-top: 30px!important; } .mb30 { margin-bottom: 30px!important; } .ml30 { margin-left: 30px!important; } .mr30 { margin-right: 30px!important; }
.m40 { margin: 40px!important; } .mt40 { margin-top: 40px!important; } .mb40 { margin-bottom: 40px!important; } .ml40 { margin-left: 40px!important; } .mr40 { margin-right: 40px!important; }
.m50 { margin: 50px!important; } .mt50 { margin-top: 50px!important; } .mb50 { margin-bottom: 50px!important; } .ml50 { margin-left: 50px!important; } .mr50 { margin-right: 50px!important; }
.m60 { margin: 60px!important; } .mt60 { margin-top: 60px!important; } .mb60 { margin-bottom: 60px!important; } .ml60 { margin-left: 60px!important; } .mr60 { margin-right: 60px!important; }
.m70 { margin: 70px!important; } .mt70 { margin-top: 70px!important; } .mb70 { margin-bottom: 70px!important; } .ml70 { margin-left: 70px!important; } .mr70 { margin-right: 70px!important; }
.m80 { margin: 80px!important; } .mt80 { margin-top: 80px!important; } .mb80 { margin-bottom: 80px!important; } .ml80 { margin-left: 80px!important; } .mr80 { margin-right: 80px!important; }
.m90 { margin: 90px!important; } .mt90 { margin-top: 90px!important; } .mb90 { margin-bottom: 90px!important; } .ml90 { margin-left: 90px!important; } .mr90 { margin-right: 90px!important; }
.m100 { margin: 100px!important; } .mt100 { margin-top: 100px!important; } .mb100 { margin-bottom: 100px!important; } .ml100 { margin-left: 100px!important; } .mr100 { margin-right: 100px!important; }
.m110 { margin: 110px!important; } .mt110 { margin-top: 110px!important; } .mb110 { margin-bottom: 110px!important; } .ml110 { margin-left: 110px!important; } .mr110 { margin-right: 110px!important; }
.m130 { margin: 130px!important; } .mt130 { margin-top: 130px!important; } .mb130 { margin-bottom: 130px!important; } .ml130 { margin-left: 130px!important; } .mr130 { margin-right: 130px!important; }

.p0 { padding: 0!important; } .pt0 { padding-top: 0!important; } .pb0 { padding-bottom: 0!important; } .pl0 { padding-left: 0!important; } .pr0 { padding-right: 0!important; }
.p10 { padding: 10px!important; } .pt10 { padding-top: 10px!important; } .pb10 { padding-bottom: 10px!important; } .pl10 { padding-left: 10px!important; } .pr10 { padding-right: 10px!important; }
.p20 { padding: 20px!important; } .pt20 { padding-top: 20px!important; } .pb20 { padding-bottom: 20px!important; } .pl20 { padding-left: 20px!important; } .pr20 { padding-right: 20px!important; }
.p30 { padding: 30px!important; } .pt30 { padding-top: 30px!important; } .pb30 { padding-bottom: 30px!important; } .pl30 { padding-left: 30px!important; } .pr30 { padding-right: 30px!important; }
.p40 { padding: 40px!important; } .pt40 { padding-top: 40px!important; } .pb40 { padding-bottom: 40px!important; } .pl40 { padding-left: 40px!important; } .pr40 { padding-right: 40px!important; }
.p50 { padding: 50px!important; } .pt50 { padding-top: 50px!important; } .pb50 { padding-bottom: 50px!important; } .pl50 { padding-left: 50px!important; } .pr50 { padding-right: 50px!important; }
.p60 { padding: 60px!important; } .pt60 { padding-top: 60px!important; } .pb60 { padding-bottom: 60px!important; } .pl60 { padding-left: 60px!important; } .pr60 { padding-right: 60px!important; }
.p70 { padding: 70px!important; } .pt70 { padding-top: 70px!important; } .pb70 { padding-bottom: 70px!important; } .pl70 { padding-left: 70px!important; } .pr70 { padding-right: 70px!important; }
.p80 { padding: 80px!important; } .pt80 { padding-top: 80px!important; } .pb80 { padding-bottom: 80px!important; } .pl80 { padding-left: 80px!important; } .pr80 { padding-right: 80px!important; }
.p90 { padding: 90px!important; } .pt90 { padding-top: 90px!important; } .pb90 { padding-bottom: 90px!important; } .pl90 { padding-left: 90px!important; } .pr90 { padding-right: 90px!important; }
.p100 { padding: 100px!important; } .pt100 { padding-top: 100px!important; } .pb100 { padding-bottom: 100px!important; } .pl100 { padding-left: 100px!important; } .pr100 { padding-right: 100px!important; }
.p140 { padding: 140px!important; } .pt140 { padding-top: 140px!important; } .pb140 { padding-bottom: 140px!important; } .pl140 { padding-left: 140px!important; } .pr140 { padding-right: 140px!important; }

.w100p { width: 100%; }
.w90p { width: 90%; }
.w80p { width: 80%; }
.w70p { width: 70%; }
.w60p { width: 60%; }
.w50p { width: 50%; }

.fs10 { font-size: 10px; }
.fs15 { font-size: 15px; }
.fs18 { font-size: 18px; }
.fs20 { font-size: 20px; }
.fs25 { font-size: 25px; }
.fs30 { font-size: 30px; }
.fs35 { font-size: 35px; }
.fs40 { font-size: 40px; }
.fs45 { font-size: 45px; }
.fs50 { font-size: 50px; }


.fr { float: right; }
.fl { float: left; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.dim { width: 100%; height: 100%; background-color: black; opacity: 0.5; position: fixed; top:0; left: 0; z-index:1;  }
.num-ul { list-style-type: decimal; }
.circle-ul { list-style-type: circle; }