@font-face {
    font-family: 'NanumGothic';
    src: url("../../common/font/NanumGothic.ttf") format("ttf");
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    line-height: normal; 
    letter-spacing: normal;
}
@font-face {
    font-family: 'NanumGothicBold';
    src: url("../../common/font/NanumGothicBold.ttf") format("ttf");
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    line-height: normal; 
    letter-spacing: normal;
}
@font-face {
    font-family: 'NanumGothicLight';
    src: url("../../common/font/NanumGothicLight.ttf") format("ttf");
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    line-height: normal; 
    letter-spacing: normal;
}

* { outline: none!important; }
p { margin: 0 }
ul { list-style-type: none; margin: 0; padding: 0; }
body { font-family: NanumGothic; color: #2a2929; font-weight: bold; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 21px; }
a, a:hover { text-decoration: none; color: #2a2929; }
html>/**/body { overflow-y: scroll; }
.container { max-width: 1024px; }

/* input */
.form-group label { position: relative; top: 4px; }
input[type="text"].form-control, input[type="password"].form-control { border: 1px solid #847fcb; outline: none; height: 41px; font-size: 21px; font-weight: normal; border-radius: 0%; }
.checkbox1 input[type="checkbox"] {  border: solid 1px #847fcb; width: 30px; height: 30px; border-radius: 0px; }
.checkbox1 input[type="checkbox"]:checked {  background-color: #847fcb; }
.form-group label.input-label { text-align: right; width: 100%; } 
select.form-control { border: 1px solid #847fcb; outline: none; height: 41px; font-size: 20px; font-weight: normal; border-radius: 0%; }


/* button */
.button1 { letter-spacing: -1px; padding: 13px 40px 13px 40px; text-align: center; border-radius: 30px; border: none; background-color: #847fcb; color: #ffffff; }
.button2 { letter-spacing: -1px; padding: 13px 40px 13px 40px; text-align: center; border-radius: 30px; border: none; background-color: #ff7122; color: #ffffff; }
.button3 { letter-spacing: -1px; padding: 13px 40px 13px 40px; text-align: center; border-radius: 30px; border: none; background-color: #707070; color: #ffffff; }
.button4 { letter-spacing: -1px; padding: 10px 40px 10px 40px; text-align: center; border-radius: 35px; border: none; background-color: #f1471a; color: #ffffff; border: 7px solid #af2900; }
.button5 { letter-spacing: -1px; padding: 10px 40px 10px 40px; text-align: center; border-radius: 35px; border: none; background-color: #3e3c3c; color: #ffffff; border: 7px solid #898989; }

/* table */
.table-area { overflow-x: auto; }
.table1 { width: 100%; min-width: 767px; }
.table1 th { text-align: center; font-size: 19px; background-color: #ff7e0c; color: #ffffff; padding: 5px 0px; }
.table1 td { letter-spacing: -1px; font-size: 18px; padding:20px ; border-top: 1px solid #b5b5b5; border-right: 1px solid #b5b5b5; border-bottom: 1px solid #b5b5b5; font-weight: normal; font-stretch: normal; font-style: normal; }
.table1 tr td:last-child { border-right: none; }
.table1 tr:nth-child(-2n+99) { background-color: #fff9f6; }

.table2 { width: 100%; min-width: 767px; }
.table2 th { text-align: center; font-size: 19px; background-color: #847fcb; color: #ffffff; padding: 5px 0px; }
.table2 td { letter-spacing: -1px; font-size: 18px; padding:20px ; border-top: 1px solid #847fcb; border-right: 1px solid #847fcb; border-bottom: 1px solid #847fcb; font-weight: normal; font-stretch: normal; font-style: normal; }
.table2 tr td:last-child { border-right: none; }
.table2 tr:nth-child(-2n+99) { background-color: #f2f2fc; }

/* header */
header { padding: 0px 15px; }
.header { padding: 15px 0px; border-bottom: solid 2px #847fcb; vertical-align: middle; }
.logo { margin: 0 35px 15px 0; position: absolute; top: 6px; z-index: 1; }
.logo img { width: 163px; height: 39px; }
.navbar { border: none; background-color: inherit; margin: 0; padding: 0; }
.navbar .collapse { border: none; }
.navbar .nav { float: inherit!important; padding-left: 170px; }
.navbar .nav li a { color: #2a2929; }
.navbar .nav li.on a { color: #847fcb; }
.navbar .nav li.login-btn { float: right!important; }
.navbar .navbar-toggle { margin-right: 0px; border: none; background-color: inherit; }
.navbar .navbar-toggle:hover { background-color: inherit; }
@media screen and (max-width: 767px) {
    .header { padding-bottom: 0px; }
    .navbar .navbar-header { margin-bottom: 15px; }
    .navbar .nav { padding: 0; }
    .navbar .nav li { display: inline-block; margin-right: 10px; }
    .navbar .nav li.login-btn { float: inherit!important; }
    .navbar .nav li a { padding: 5px 0px; }
}

.breadcrumbs { padding: 18px 0; }
.breadcrumbs .home { position: relative; top: -2px; }
.breadcrumbs p { color: #5a5a5a; }

/* 로그인 */
.login-title-area { border:2px solid #847fcb; padding: 59px 0 39px 0; text-align: center; }
.login-input-area { border-right: solid 1px #847fcb; }
.login-button { width: 220px; }
.kakao-login { width:270px; height: 40px; border: none; background-color: #fff000; color: #3c3b3d; text-align: center; }
.kakao-login img { width: 21px; margin-right: 10px; }
.normal-join { width:270px; height: 40px; border: none; background-color: #847fcb; color: #ffffff; text-align: center; }
.text-color1 { color: #847fcb; }
.text-color2 { color: #ff7122; }
.text-color3 { color: #6d6d6d; }
.organ-user-box2 { border: 1px solid #847fcb; border-radius: 15px; width: 238px; height: 201px; margin: 0 auto; }
.user-type { font-size: 34px; }
.popup { padding: 40px 30px; position: fixed; top: 30%; left: 50%; transform: translate(-50%, 0); border-radius: 10px; background-color: #ffffff; z-index: 10; }
.popup p { font-size: 18px; }
.popup input { width: 300px; height: 50px; margin: auto; }
.popup .close { position: relative; top: -20px; left: 5px; }

/* 회원가입 */
.join .join-title { font-size: 23px; color: #847fcb; padding-left: 20px; }
.join .join-desc { font-size: 19px; color: #6d6264; margin-top: 5px; }
.border-bottom { border-bottom: 1px solid #847fcb; }
.border { border: 1px solid #847fcb; }
.radio-group label { font-size: 19px; position: relative; top: -2px }
.radio-group input[type="radio"] { width: 20px; height: 20px; }
.birth-group { font-size: 19px; }
.birth-group .form-control { display: inline-block; }
.birth-group .birth-input1 { width: 30%; text-align: right; }
.birth-group .birth-input2 { width: 20%; text-align: right; }
.phone-group { font-size: 19px; }
.phone-group .form-control { display: inline-block; }
.phone-group .phone-input { width: 27%; text-align: center; }
.join-agree { background-color: #f2f2fc; }
.join-agree input[type="checkbox"] { width: 20px; height: 20px; }
.join-agree .border { border-bottom: none; }
.join-agree .border:last-child { border-bottom: 1px solid #847fcb; }
.join-agree-contents { padding: 20px; font-size: 18px; }
.join-agree-contents textarea { height: 120px; width: 100%; }
.join-agree-contents label { position: relative; top: -3px; }
.join-agree-contents .agree-contents { background-color: #ffffff; height: 120px; overflow-y: scroll; border:1px solid black; padding: 20px; }

/* Mind-SCAN  */
.mindscan-type1 { padding: 0 20px 0 40px; width: 50%; float: left; }
.mindscan-type2 { padding: 0 40px 0 20px; width: 50%; float: right; }

/* Mind-SCAN > Mind-Ab */
.mind-ab-result .result-title { letter-spacing: -1px; }
.mind-ab-result .result-contents p { font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -1px; word-break: keep-all; margin-bottom: 15px; line-height: 30px; }
.mind-ab-result .result-img-area { width: 350px; height: 350px; margin: auto;}

/* Mind-SCAN > Mindle */
.mindle-results .title { font-size: 27px; }
/* .mindle-results .item img { border-radius: 15px; border: solid 1px #ff7122; } */
.mindle-results .image-area { width: 30%; float: left; }
/* .mindle-results .image-area img { border-radius: 15px; border: solid 1px #898989; } */
.mindle-results .text-area { width: 70%; float: right; }
.mindle-results .text-area .person-title { background-color: #ff7122; color: #ffffff; font-size: 23px; padding: 2px 10px; width: max-content; }
.mindle-results .no-result-textarea { height: 350px; }
.add-info .input-area { border-radius: 15px; border: solid 1px #ff7e0c; }
.add-info .input-area input[type="text"]{ border: solid 1px #898989; }
.mindle-results .char-area { width: 20%; float: left; margin-bottom: 100px; }
.mindle-results .char-area img { margin: auto; }
.mindle-results .title .small { font-size: 23px; letter-spacing: -1px; }
.mindle-results .graph-area { width: 93%; float: left; }
.mindle-results .graph-area .dvstr-graph { padding: 0px; padding-right: 30px; }
.mindle-results .graph-area .dvstr-graph__body { margin-right: 0px; }
.mindle-results .graph-area .dvstr-graph__grid { left: 15%; }
.mindle-results .graph-area .dvstr-graph__label { width: 15%; }
.mindle-results .graph-area .dvstr-graph__group { width: 85%; }
.mindle-results .graph-area .dvstr-graph { min-width: 0px; }
.mindle-results .graph-area .dvstr-graph__header-flex-item { left: 75%; }
.mindle-results .graph-area .graph-btn { position: absolute; right: -70px; }


/* Mind-Ab */
.mind-ab { padding:0 15px; }
.mind-ab .contents-area { padding: 20px 0px; border-bottom: 1px solid #847fcb; }
.mind-ab .contents-area:last-child { border-bottom: none; margin-bottom: 100px; }
.mind-ab .contents-title { font-size: 25px; color: #847fcb; font-weight: bold; }
.mind-ab ul { margin-top: 20px; }
.mind-ab ul.contents li { margin-bottom: 5px; }
.mind-ab ul.contents li p { font-size: 18px;  }

/* Mind-Ab > 영상시청 */
.mind-ab-view .video-title { color: #847fcb; font-size: 25px; }
.mind-ab-view .video-area { padding-left: 60px; padding-right: 60px; }
.mind-ab-view .video-area ul { margin-top: 20px; }
.mind-ab-view .video-area ul.contents li { margin-bottom: 8px; }
.mind-ab-view .video-area ul.contents li p { font-size: 18px;  }
.mind-ab-view .button-area button { width: 170px; padding-left: 0px; padding-right: 0px; }

/* mindle */
.mindle .title { font-size: 30px; }
.mindle .video-box { padding: 0px 50px 0px 50px; }
.mindle .button5 { margin-right: 40px; }

/* mindle 영상 목록 */
.mindle-result { padding:0 15px; }
.mindle-result .contents-area { padding: 20px 0px; border-bottom: 1px solid #ff7122; }
.mindle-result .contents-area:last-child { border-bottom: none; margin-bottom: 100px; }
.mindle-result .contents-title { font-size: 25px; color: #ff7122; font-weight: bold; }
.mindle-result ul { margin-top: 20px; }
.mindle-result ul.contents li { margin-bottom: 5px; }
.mindle-result ul.contents li p { font-size: 18px;  }

/* mindle > 영상시청 */
.mindle-view .video-title { font-size: 25px; }
.mindle-view .video-area { padding-left: 60px; padding-right: 60px; }
.mindle-view .video-area ul { margin-top: 20px; }
.mindle-view .video-area ul.contents li { margin-bottom: 8px; }
.mindle-view .video-area ul.contents li p { font-size: 18px;  }
.mindle-view .button-area button { width: 170px; padding-left: 0px; padding-right: 0px; }

/* footer */
.footer { border-top: 1px solid gray; padding: 40px; }
.footer p { font-size: 16px; line-height: 30px; letter-spacing: -1px; }

@media screen and (min-width: 767px) {
    .pc { display: block; }
    .mobile { display: none; }
}
@media screen and (max-width: 767px) {
    .pc { display: none; }
    .mobile { display: block; }

    body, 
    p, 
    
    .footer p, 
    .table1 th,
    .table1 td,
    input[type="text"].form-control, input[type="password"].form-control,
    .mindle-results .char-table th,
    .mindle-results .char-table td,
    .mindle-results .title .small
    { font-size: 3.5vw!important; }
    
    .join-agree .checked-all,
    .join-agree .join-agree-contents .agree-title,
    .mindle-results .title, 
    h3, 
    label,
    .birth-group,
    .mind-ab-result .result-title, 
    .mind-ab .contents-title
    { font-size: 4.5vw!important; }

    .join .join-title, 
    .user-type, 
    .mind-ab-view .video-title, 
    .mindle .title 
    { font-size: 5vw!important; }

    .breadcrumbs img { width: 4vw; }
    .mind-ab-view .video-area, .mindle .video-box { padding: 0px; }
    .footer { padding: 20px; }
    .form-group label { margin-bottom: 10px; }
    .mindscan-type1 { padding: 0 10px 0 20px; }
    .mindscan-type2 { padding: 0 20px 0 10px; }
    input[type="text"].form-control, input[type="password"].form-control { font-size: 3.5vw!important; }
    .form-group label.input-label { text-align: left; }
    .join .join-title { padding-left: 0px; }
    
    .button1, .button2, .button3 { padding: 10px 30px 10px 30px; }
    .mindle .button4, .mindle .button5 { padding-left: 20px; padding-right: 20px; }
    .mindle .button5 { margin-right: 20px; }

    .mindle-results .graph-area { width: 79%; }
    .mindle-results .graph-area .dvstr-graph__header-flex-item { left: 0; }
    .mindle-results .graph-area .dvstr-graph { padding: 0px; padding-right: 10px; }
    .mindle-results .graph-area .dvstr-graph__header-flex-item { left: 37%; margin-top:20px; }
}
